<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-Time Colours</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <hr>
    <div style="background-color: aqua;" class="container" >
        <h2 style="text-align: center;">Real-Time Colours</h2>
        <br>
        <br>
        <div class="btn-toolbar">
            <button style="margin-left: 430px;" type="button" id="btnGreen" class="btn btn-success btn-sm">Green</button>
            <button style="margin-left: 50px;" type="button" id="btnBlue" class="btn btn-primary btn-sm">Blue</button>
            <button style="margin-left: 50px;" type="button" id="btnPink" class="btn btn-danger btn-sm">Pink</button>
        </div>
        <br>
        <hr>
    </div>
</body>
<script src="RealColours.js"></script>

</html>