<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css">



  <div style="text-align: center;">
    <h2>Products List</h2>
  </div>
  <div style="text-align: center;">
    <form *ngFor="let product of products">
      <div class="form-control">
        <img src="{{product.image_url}}" alt="{{product.title}} pic" style="width:100%">
        <a [routerLink]="['/product/show',product._id]"><p >{{product.title}}</p></a> 
        <!-- [routerLink]="['/product/edit',product._id]" -->
        <p>${{product.price}}</p>
        <button class="btn-sm btn-success" style="margin-right: 15px;" [routerLink]="['edit',product._id]">Edit</button>
        <button class="btn-sm btn-danger" (click)="deleteProductFromService(product._id)">Delete</button>
      </div>
    </form>
  </div>

