<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
</head>
<body>
    <hr>
    <h2>List of all cats with cool pictures:</h2>  
    <img style="width: 500px; height: 500px;" src="cat_pets_tiger.jpg" alt="Cat_Pet_Tiger"> 
    <img style="width: 500px; height: 500px;" src="tiger_snow_cat.jpg" alt="Tiger_Snow_Cat"> 
    <hr>    
    
</body>
</html>